<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.select :rank, get_rank_list('min'), prompt: "Please Select..." %>
  </div>
  <div class="field">
    <%= f.label :waiver_signed %><br>
    <%= f.check_box :waiver_signed %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, end_year: Time.now.year - 100, start_year: Time.now.year - 5 %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'button success' %>
  </div>
<% end %>
