<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @registration.section_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @registration.student_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @registration.date %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
