<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name, prompt: "Select...", style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :min_age %><br>
    <%= f.number_field :min_age, style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :max_age %><br>
    <%= f.number_field :max_age, style: 'width: 50%;' %>
  </div>
  <div class="field">
    <%= f.label :min_rank %><br>
    <%= f.select(:min_rank, get_rank_list('min'), :prompt => "Please Select") %>
  </div>
  <div class="field">
    <%= f.label :max_rank %><br>
    <%= f.select(:max_rank, get_rank_list('max'), :prompt => "Please Select") %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "button large success" %>
  </div>
<% end %>
