<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Listing sections</h1>

    <table class="wide text-centered">
      <thead>
        <tr>
          <th>Event</th>
          <th>Age range</th>
          <th>Rank range</th>
          <th>Active?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sections.each do |section| %>
          <tr>
            <td><%= section.event.name %></td>
            <td><%= age_range_for(section) %></td>
            <td><%= rank_range_for(section) %></td>
            <td><%= section.active ? "Yes" : "No" %></td>
            <td><%= link_to 'Show', section, class: "button tiny" %></td>
            <td><%= link_to 'Edit', edit_section_path(section), class: "button secondary tiny" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Section', new_section_path, class: "button success" %>
  </div>
</div>