<div class="row">
  <div class="small-12 large-8 columns">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12">
  <h1>Section Details</h1>
    <p>
      <strong>Active:</strong>
      <%= @section.active %>
    </p>

    <p>
      <strong>Event:</strong>
      <%= link_to "#{@section.event.name}", event_path(@section.event) %>
    </p>

    <p>
      <strong>Ranks: </strong>
      <%= rank_range_for(@section) %>
    </p>

    <p>
      <strong>Ages:</strong>
      <%= age_range_for(@section) %>
    </p>

  </div>
    <%= link_to 'Edit', edit_section_path(@section), class: "button" %> |
    <%= link_to 'Back', sections_path, class: "button secondary" %> | 
    <%= link_to 'Destroy', @section, class: "button alert", method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="small-12 large-4 columns">
  <%= render 'registered_students' %>
  </div>
  </div>
</div>

