<div class="row">
  <div class="small-12 columns">
    <h1>Listing events</h1>

    <table class="wide text-centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to "#{event.name}", event %></td>
            <td><%= event.active ? "Yes" : "No" %></td>
            <td><%= link_to 'Show', event, class: "button tiny" %></td>
            <td><%= link_to 'Edit', edit_event_path(event), class: "button secondary tiny" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Event', new_event_path, class: 'button success' %>
  </div>
</div>
