<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @dojo_student.student_id %>
</p>

<p>
  <strong>Dojo:</strong>
  <%= @dojo_student.dojo_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @dojo_student.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @dojo_student.end_date %>
</p>

<%= link_to 'Edit', edit_dojo_student_path(@dojo_student) %> |
<%= link_to 'Back', dojo_students_path %>
